<footer>
    <div class="center footer">
     
      <br>
      <div class="center footer">
    
          <br>
          <strong>SEGWARE TST</strong>
          <br>
          <br>
          <strong>SISTEMA DE GESTÃO DE E.P.I DESENVOLVIDO POR FÁBIO VASQUES</strong>
          <br>
    </div>
  </footer>
  </body>
  
  </html>