<footer>
    <div class="center footer">
      &copy; 2019 - Todos os direitos reservados.
      <br>
      <strong>PWII - Portal de notícias</strong>
      <br>
      GitHub:
      <a href="https://github.com/alexcamargoweb/pwii_portal">
        https://github.com/alexcamargoweb/pwii_portal
      </a>
    </div>
  </footer>
  </body>
  
  </html>