<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/dataTables.bootstrap.min.css" />
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/jquery.dataTables.min.js"></script>
    <script src="/javascripts/dataTables.bootstrap.min.js"></script>
    <script src="/javascripts/validator.js"></script>
    <script src="/javascripts/custom.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Painel administratvo</title>
  </head>

  <body class="page">

      <nav class="navbar- navbar-inverse">
          <div class="container-fluid">
              <ul class="nav navbar-nav">
                 <li class="active"><a href="/index">Home</a></li>
                 <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Cadastros
                  <span class="caret"></span></a>
               <ul class="dropdown-menu">
                   <li><a href="#">EPIS</a></li>
                   <li><a href="#">Fornecedores</a></li>
                   <li><a href="#">Funcionários</a></li>
               </ul>
                     </li>
                    <li><a href="#">Contato</a></li>
                    <li><a href="/logout">SAIR</a></li>
 
                </ul>
            </div>
         </nav>

        
 
  </body>
</html>
