<% include ./header.ejs %>
   <section>



        <article>
          
                <div class="col-sm-6 col-md-3">
                  <div class="thumbnail">
                    <img src="/images/monitor-index.jpg" alt="...">
                    <div class="caption">
                        <span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
                      <h5>Gestão eletrônica conforme NR 6 com 
                        rastreabilidade de informação e biometria.</h5>
                        <p><a href="#" class="btn btn-primary" role="button">Button</a> </p>
                    </div>
                  </div>
                </div>
              </div>

        </article>         


        <article>
          
                <div class="col-sm-6 col-md-3">
                  <div class="thumbnail">
                    <img src="/images/treinamentos-index.png" alt="...">
                    <div class="caption">
                      <h5>
                          Gestão de treinamentos com geração de turma, 
                          lista de presença e certificado.

                      </h5>
                    
                      <p><a href="#" class="btn btn-primary" role="button">Button</a> </p>
                    </div>
                  </div>
                </div>
              </div>

        </article>   
        
        <article>
          
                <div class="col-sm-6 col-md-3">
                  <div class="thumbnail">
                    <img src="/images/estoque-index.jpeg" alt="...">
                    <div class="caption">
                      <h5>

                          Gestão de Estoques múltiplos com custo e previsão de demanda,
                           e com alertas programáveis de estoque máximo e mínimo.

                      </h5>
                     
                      <p><a href="#" class="btn btn-primary" role="button">Button</a> </p>
                    </div>
                  </div>
                </div>
              </div>

        </article>   

        <article>
          
                <div class="col-sm-6 col-md-3">
                  <div class="thumbnail">
                    <img src="/images/relogio-index.jpeg  " alt="...">
                    <div class="caption">
                      <h5>

                          Personalização e parametrização de vencimentos de vida útil de EPIs conforme atividade exercida, 
                          com geração automática de novos prazos após realizada a entrega.

                      </h5>
                      
                      <p><a href="#" class="btn btn-primary" role="button">Button</a> </p>
                    </div>
                  </div>
                </div>
              </div>

        </article>   

        <article>
                <div class="col-sm-6 col-md-3">
                  <div class="thumbnail">
                    <img src="/images/ficha-epi-index.png" alt="...">
                    <div class="caption">
                      <h5>

                          Maior flexibilidade e mobilidade para a entrega de EPIs (módulo offline),
                           com simulações de entrega, controle de estoque e de disponibilidade.

                      </h5>
                     
                      <p><a href="#" class="btn btn-primary" role="button">Button</a> </p>
                    </div>
                  </div>
                </div>
              </div>

        </article>   

        <article>
          
                <div class="col-sm-6 col-md-3">
                  <div class="thumbnail">
                    <img src="/images/biometria-index.jpeg" alt="...">
                    <div class="caption">
                      <h5>

                          Geração automática das Fichas de EPI com 
                          assinatura biométrica identificando dia, hora, minuto da entrega.

                      </h5>
                     
                      <p><a href="#" class="btn btn-primary" role="button">Button</a> </p>
                    </div>
                  </div>
                </div>
              </div>

        </article>   

        <article>
            <div class="row">
                <div class="col-sm-6 col-md-3">
                  <div class="thumbnail">
                    <img src="/images/capacete-index.png" alt="...">
                    <div class="caption">
                      <h5>

                          Vinculação de EPI aos riscos e treinamentos, com inserção automática.

                      </h5>
                     
                      <p><a href="#" class="btn btn-primary" role="button">Button</a> </p>
                    </div>
                  </div>
                </div>
              </div>

        </article>   


   </section>      
      
    <% include ./footer.ejs %>
    
